{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
<div class="about-container">
    <div class="about-image">
        <img src="{% static 'img/me.png' %}" alt="photo">
    </div>
    <div class="about-content">
        <h1>About Me</h1>
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae arcu sit amet lorem faucibus hendrerit. Donec et quam eu orci cursus euismod. Nam vel tortor justo. In eu turpis at eros vestibulum tincidunt. Aliquam erat volutpat. Sed at risus vel orci varius congue. Curabitur et tortor eget nisl dapibus ultrices. Sed malesuada tellus ac turpis vestibulum, a eleifend enim malesuada.</p>
        <p>Morbi quis ante nec risus tincidunt volutpat. Cras tristique nulla non ipsum convallis, eget venenatis arcu aliquet. Donec fringilla purus vitae arcu fermentum, in finibus felis fermentum. Phasellus scelerisque dolor nec ex vehicula, sit amet maximus mi convallis. Nulla nec nunc ac eros dictum sollicitudin nec non lorem. Ut nec magna at lorem gravida aliquet vel et ligula.</p>
        <a href="#contact" class="contact-button">Contact Me</a>
    </div>
</div>
{% endblock content %}